{:paths   ["src"]
 :deps    {org.apache.httpcomponents/httpclient {:mvn/version "4.5.14"}
           ring/ring-core                       {:mvn/version "1.12.2"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps  {clj-http/clj-http     {:mvn/version "3.12.3"}
                                cheshire/cheshire     {:mvn/version "5.13.0"}
                                org.clojure/clojure   {:mvn/version "1.12.0"}
                                org.clojure/data.json {:mvn/version "2.5.0"}}}}}
